@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Windows Azure :) </h1>
    <p>This is a simple app that Erik built to demonstrate how to deploy a .NET app to Azure App Service using Visual Studio! Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
